:root {
  /* colors */
  --color-bg-blue: rgba(122, 179, 243, 0.2);
  --color-bg-pink: rgba(233, 121, 178, 0.2);
  --color-bg-purple: rgba(215, 215, 249, 0.2);
  --color-bg-green: rgba(120, 247, 187, 0.2);
  --color-purple: #6B00F5;
  --color-white: #FFFFFF;

  /* shadows */
  --shadow-box: 0px 0px 70px #C7CBE3;

  /* spacing */
  --left-offset: 28px;
}

.menu__section {
  border-radius: 25px;
  box-shadow: var(--shadow-box);
  height: 80vh;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-top: 50px;
  width: 375px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.menu__section::-webkit-scrollbar {
  display: none;
}

.menu__heading {
  font-size: 2rem;
  line-height: 1.5;
  margin: 0 0 38px var(--left-offset);
}

.menu__item {
  background-color: var(--color-bg-blue);
  border-radius: 20px;
  left: var(--left-offset);
  margin-bottom: 33px;
  padding: 25px 32px 40px 156px;
  position: relative;
}

.menu__item:nth-of-type(4n + 2) {
  background-color: var(--color-bg-pink);
}

.menu__item:nth-of-type(4n + 3) {
  background-color: var(--color-bg-purple);
}

.menu__item:nth-of-type(4n) {
  background-color: var(--color-bg-green);
}

.menu-item__image {
  position: absolute;
  top: -18px;
  left: -13px;
  width: 148px;
  height: 144px;
  object-fit: contain;
}

.menu-item__name {
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.1;
  margin: 0 0 16px;
}

.menu-item__price {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1;
  margin: 0;
}

.menu-item__button {
  position: absolute;
  bottom: -9px;
  top: auto;
  background-color: var(--color-purple);
  color: var(--color-white);
  font-weight: bold;
  border-radius: 20px;
  border: none;
  padding: 4px 18px;
}
