.menu__item {
  background-color: var(--color-bg-blue);
  border-radius: 20px;
  width: calc(100% + 60px);
  margin-bottom: 33px;
  padding: 25px 32px 40px 156px;
  position: relative;
}

.menu__item:nth-of-type(4n + 2) {
  background-color: var(--color-bg-pink);
}

.menu__item:nth-of-type(4n + 3) {
  background-color: var(--color-bg-purple);
}

.menu__item:nth-of-type(4n) {
  background-color: var(--color-bg-green);
}

.menu-item__image {
  position: absolute;
  top: -18px;
  left: -13px;
  width: 148px;
  height: 144px;
  object-fit: contain;
}

.menu-item__name {
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.1;
  margin: 0 0 16px;
}

.menu-item__price {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1;
  margin: 0;
}

.menu-item__button {
  position: absolute;
  bottom: -9px;
  top: auto;
  background-color: var(--color-purple);
  color: var(--color-white);
  font-weight: bold;
  border-radius: 20px;
  border: none;
  padding: 4px 18px;
}
