:root {
  /* colors */
  --color-bg-blue: rgba(122, 179, 243, 0.2);
  --color-bg-pink: rgba(233, 121, 178, 0.2);
  --color-bg-purple: rgba(215, 215, 249, 0.2);
  --color-bg-green: rgba(120, 247, 187, 0.2);
  --color-purple: #6B00F5;
  --color-white: #FFFFFF;
  --color-gray: #D7D7F9;
  --color-black: #000000;

  /* shadows */
  --shadow-box: 0px 0px 70px #C7CBE3;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body,
input,
button {
  font-family: 'Poppins', 'Helvetica', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background:
    url('images/bg__btm-right.svg') right bottom no-repeat,
    url('images/bg__left.svg') left 30% no-repeat,
    var(--color-bg-purple) url('images/bg__top-right.svg') right top no-repeat;
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
}

#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.panel {
  background-color: var(--color-white);
  border-radius: 25px;
  box-shadow: var(--shadow-box);
  height: 80vh;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 50px 38px;
  width: 375px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.panel::-webkit-scrollbar {
  display: none;
}

@media only screen and (min-width: 820px) {
  .panel:first-of-type {
    margin-right: 50px;
  }
}

.panel__heading-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.panel__heading-button {
  align-items: center;
  background-color: var(--color-purple);
  border-radius: 100%;
  border: none;
  color: var(--color-white);
  display: flex;
  height: 40px;
  justify-content: center;
  width: 40px;
  visibility: visible;
}

@media only screen and (min-width: 820px) {
  .panel__heading-button {
    display: none;
    visibility: hidden;
  }
}

.panel__heading-button-image {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.panel__heading {
  font-size: 2rem;
  line-height: 1.5;
  margin: 0;
}

.panel__content {
  margin-top: 38px;
}
